* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Montserrat", Verdana, sans-serif, serif;
  background-image: url("/assets/images/bg.JPG");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  z-index: -2;
  height: 100vh; }
  body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 50, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: -1; }

a {
  text-decoration: none;
  color: #000; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

h1,
h2,
h3,
p {
  margin: 0; }

.info {
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  height: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .info .about__name {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 25px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(0, 210, 0, 0.9); }
    @media (min-width: 1024px) {
      .info .about__name {
        font-size: 48px; } }
  .info .about__description {
    font-size: 24px; }
    @media (min-width: 1024px) {
      .info .about__description {
        font-size: 32px; } }
  .info__links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 10vw; }
    @media (min-width: 1024px) {
      .info__links {
        width: 40vw;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        position: absolute;
        right: 20px;
        bottom: 20px; } }
  .info__link {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%; }
    @media (min-width: 1024px) {
      .info__link {
        margin-left: 15px;
        margin-right: 15px; } }
  .info__logo {
    height: 30px;
    width: 100%; }
    @media (min-width: 1024px) {
      .info__logo {
        height: 40px; } }
