/* Reset */

body,
h2 {
  margin: 0;
  padding: 0;
  font-family: sans-serif, serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}


p {
  color: black;
  font-size: 21px;
}

img {
  max-width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 28px;
}

/* Sections Default */

header,
section,
footer {
  padding-top:50px;
  height:640px;
  color: #fff;
  overflow: hidden;
}

.sectionimpar {
  background-color: #727273;
}

.sectionpar {
  background-color: #908D90;
}

.flexcenter {
  display: flex;
  justify-content: center;
}

#section2,
#section4 {
    height:70px;
}

/* Nav */

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}


nav li a:hover {
    background-color: #a6a6a6;
    text-decoration: none;
    color: white;
}

/* Header */

header {
  background-image: url("../img/photo-header.jpg");
  background-size: cover;
  background-position: center;
  z-index: 2;
  background-size: cover;
  position: relative;
}

header p {
  font-size: 24px;
}

header:after {
  z-index: -1;
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

header p {
  color: #FFF;
}

.imagem {
  max-width: 50%;
  height: 300px;
  margin-top: 30px;
  border-radius: 100%;
}

.sobre {
  padding: 10px;
  margin: 20px;
  display: flex;
  justify-content: center;
  font-size: 21px;
  color: black;
}

/* Faixa de Contato 1 - GitHub LikedIn Facebook */

#section2 {
    display: flex;
    padding-top: 10px;
}

#section2 ul {
  display: flex;
  flex-flow: row;
  margin: auto;
  width: 100%;
  justify-content: center;
}

#section2 p {
  display: inline;
  margin-left: 6px;
}

#section2 li {
  color: black;
  margin: auto 40px;
}

#section2 li:hover {
	font-size:102%;
}


/* Imagens */

#section3 {
    height: 750px;
}

.fotos {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.item-fotos {
  height: 340px;
  margin: 5px;
}

/* Faixa de Contato 2 - Email e Whats */

#section4 {
    padding: 20px;
}

#section4 ul {
  display: flex;
  flex-flow: row;
  margin: auto;
}

#section4 p {
  display: inline;
  margin-left: 6px;
}

#section4 li {
  color: black;
  margin: auto 40px;
}

#section4 li:hover {
	font-size:102%;
}


/* Formacao */

#section5 {
    height: 350px;
}

.formacao {
  display: flex;
  justify-content: center;
}

/* Skills */

#section6 {
    height: 500px;
}

.skills{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
}

.itemskills {
  height: 120px;
  display: flex;
}

/* Form */

#section7 {
    height: 420px;
}

form {
  width: 550px;
  margin: auto;
  padding: 20px 15px;
  box-sizing: border-box;
  border-radius: 7px;
  display: flex;
  flex-flow: column;
  background: #000000;
  background: -webkit-linear-gradient(to left, #000000 , #434343);
  background: linear-gradient(to left, #000000 , #434343);
}

input,
textarea {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 3px;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}


#section7 button {
  margin: auto;
  color: #FFF;
  height: 40px;
  width: 140px;
  padding: 2px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(194, 194, 194, 0.7);
  border-radius: 3px;
  transition: all 0.3s ease;
}


#section7 button:hover {
  background-color: rgba(194, 194, 194, 0.2);
}

/* Footer */

footer {
  background: #000000;
  background: -webkit-linear-gradient(to left, #000000 , #434343);
  background: linear-gradient(to left, #000000 , #434343);
  height: 50px;
  padding-top: 15px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  text-align: center;
}

footer p,
footer a {
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
}

.item-footer {
  padding: 0px 30px;
}
