body {
  margin: 0;
  padding: 0;
  font-family: sans-serif, serif;
}

a {
  text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

li {
    float: left;
}

li a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}


li a:hover {
    background-color: #a6a6a6;
    text-decoration: none;
    color: white;
}


p {
  color: black;
  font-size: 21px;
}

header,
section,
footer {
  padding-top:50px;
  height:640px;
  color: #fff;
  overflow: hidden;
}


footer {
   background-color: black;
   height: 50px;
   padding-top: 15px;
}

.sectionimpar {
  background-color: #8c8c8c;
}

.sectionpar {
  background-color: #b3b3b3;
}

#section2 {
    height:130px;
}

#section3 {
    height: 720px;
}

#section4 {
    height:110px;
    padding: 20px;
}

#section5 {
    height: 400px;
}

#section6 {
    height: 440px;
}

#section7 {
    height: 420px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.imagem{
 width: 25%;
 height: 80%;
 margin-top: 30px;
 border-radius: 100%;
}

.flexcenter {
  display: flex;
  justify-content: center;
}

.tabela {
  width: 400px;
  position: absolute;
   left:50%;
    margin: 0 0 0-480px;
}

.sobre {
  padding: 10px;
  margin: 20px;
  display: flex;
  justify-content: center;
  font-size: 21px;
  color: black;
}


#section2 a:hover {
  color:#000;
	font-size:120%;
}

.fotos {
  width: 470px;
  margin: 8px;
  padding: 0px 10px 10px 0px;
}


form {
  width: 550px;
  margin: auto;
  padding: 20px 15px;
  background-color: grey;
  box-sizing: border-box;
  border-radius: 7px;
  color: black;
}


input,
textarea {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  font-size: 15px;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#botao {
  padding: 10px;
  margin-top: 20px;
  font-size: 15px;
  font-family: monospace;
}

.skills{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 30px;
}

.itemskills {
  height: 150px;
  display: flex;
}

.formacao {
  display: flex;
  justify-content: center;
}

.rodape {
  color: white;
  margin-top: 15px;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
}
