.section-formacao {
  display: flex;
  flex-flow: column;
  text-align: center;
  background-color: $dove-gray;

  div {
    margin: auto 10px;
  }

}

.section-formacao {
  @include tablet {
    font-size: 18px;
  }
}
.section-formacao h2 {
  @include tablet {
    font-size: 38px;
  }
}

.section-formacao p {
  @include tablet {
    font-size: 24px;
  }
}
