$tablet-width: 768px;
$desktop-width: 1024px;

$primary-font: 'Montserrat', Verdana;
$secondary-font: 'Roboto', sans-serif;

$white: #fff;
$primary-green: rgba(0,144,88,.7);
$secondary-green: rgba(0,50,0,.4);
