.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-bottom: 20px;


  &__logo {
    height: 30px;

    @include tablet {
      height: 27px;
    }
  }

  @include desktop {
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 50vw;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
  }

  &__links {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .about {
    text-align: center;
    margin-top: 60px;

    @include desktop {
      text-align: left;
    }

    &__name {
      color: $primary-color-dark;
    }

    &__description {
      font-family: 'Roboto', sans-serif;
      color: $primary-color;

      @include tablet {
        margin-left: 80px;
      }
    }
  }
}
