.info {
  &__link {
    margin-left: 25px;
    margin-right: 25px;
    position: relative;

    @include desktop {

      &:before {
        position: absolute;
        content: '';
        width: 47px;
        height: 47px;
        left: -9px;
        top: -23px;
        transform-origin: center;
        transform: rotate(45deg);
        transition: all .35s ease-in-out;
        border: 1px solid $primary-color;
        opacity: 0;
        transition: all .35s ease-in-out;
      }

      &:hover {

        &.info__link {

          &:before {
            opacity: 1;
          }
        }
      }
    }
  }

  &__logo {
    height: 30px;

    @include tablet {
      height: 50px;
    }

    @include tablet {
      height: 30px;
    }
  }
}
