.img-container {

  &__photo {
    background-image: url('../assets/images/felipe-soares.png');
    background-position: center;
    background-size: cover;
    width: 75%;
    height: 230px;
    position: relative;
    border: 1px solid $primary-color;
    transform: rotate(15deg);

    &::after {
      position: absolute;
      top: -20px;
      left: 0;
      content: '';
      background-color: rgba($secondary-color, .4);
      z-index: 2;
      height: 105%;
      width: 105%;
      transform: rotate(20deg);

      @include desktop {
        position: absolute;
        top: -40px;
        left: 0;
        content: '';
        background-color: rgba($secondary-color, .4);
        z-index: 2;
        height: 110%;
        width: 110%;
        transform: rotate(65deg);
      }
    }


    @include tablet {
      width: 60%;
      height: 450px;
    }
  }
}
