.personal-info {
  position: relative;

  &__name {
    font-size: 2rem;
    text-transform: uppercase;

    @include medium {
      font-size: 3rem;
    }

    @include large {
      font-size: 3.5rem;
    }
  }

  &__profession {
    font-size: 1.375rem;
    text-transform: uppercase;

    @include medium {
      font-size: 2rem;
    }

    @include large {
      font-size: 2.5rem;
    }
  }

  &__bio {
    margin-top: $small-spacing;
    margin-bottom: $small-spacing;
    line-height: 1.3rem;

    @include medium {
      margin-top: $medium-spacing;
      margin-bottom: $medium-spacing;
      font-size: 2rem;
      line-height: 2.3rem;
    }

    @include large {
      margin-top: $large-spacing;
      margin-bottom: $large-spacing;
      text-align: right;
    }
  }

  &__social-media {
    &__list  {
      margin-top: $small-spacing;
      margin-bottom: $small-spacing;
      list-style: none;
      text-align: right;

      @include medium {
        margin-top: $medium-spacing;
        margin-bottom: $medium-spacing;
      }

      @include large {
        position: absolute;
        top: 13px;
        right: 0;
        margin: 0;
      }
    }

    &__item {
      display: inline-block;
      width: 38px;
      margin-left: $small-spacing;

      @include medium {
        width: 58px;
        margin-left: $medium-spacing;
      }

      @include large {
        margin-left: $large-spacing;
      }
    }

    &__image {
      path {
        transition: fill 0.3s ease;
      }

      &:hover {
        path {
          fill: $light-gray;
        }
      }
    }
  }
}
