$primary-font: 'Noto Serif SC', serif;
$secondary-font: 'Montserrat', sans-serif;

$black: #000;
$white: #fff;
$transparent-black: rgba(0,0,0,0.8);
$light-gray: #cecece;

$medium-width: 768px;
$large-width: 1024px;

$small-spacing: 20px;
$medium-spacing: 40px;
$large-spacing: 60px;

