.faixa-contato-2 {
  display: flex;
  text-align: center;
  flex-flow: column;
  background-color: $cor-auxiliar;

  ul {
    margin: auto;
    display: flex;
    flex-flow: column-reverse;
  }

  li {
    margin: 70px auto;
    color: black;

    &:hover {
      font-size:102%;
    }
  }

}

.faixa-contato-2 {
    @include tablet {
      display: flex;
      padding: 20px;
    }
}

.faixa-contato-2 ul {
  @include tablet {
    display: flex;
    flex-flow: row;
    margin: auto;
    justify-content: center;
  }
}
.faixa-contato-2 p {
  @include tablet {
    display: inline;
    margin-left: 6px;
  }
}

.faixa-contato-2 li {
  @include tablet {
    color: black;
    margin: auto 30px;
  }
}
