.faixa-contato-1 {
  text-align: center;
  display: flex;
  flex-flow: column;
  background-color: $cor-auxiliar;

  ul {
    margin: auto;
    display: flex;
    flex-flow: column;
  }

  li {
    color: black;
    margin: 30px auto;

    &:hover {
      font-size:102%;
    }
  }

}

.faixa-contato-1 {
  @include tablet {
    padding: 20px;
  }
}

.faixa-contato-1 ul {
  @include tablet {
    flex-flow: row;
    justify-content: center;
    margin: auto;
  }
}

.faixa-contato-1 li {
  @include tablet {
    color: black;
    margin: auto 40px;
  }
}

.faixa-contato-1 p {
  @include tablet {
    display: inline;
    margin-left: 6px;
  }
}
