.faixa-contato-1 {
  text-align: center;
  padding-right: 30px;
}

.faixa-contato-1 ul {
  display: flex;
  flex-flow: column;
}

.faixa-contato-1 li {
  color: black;
  margin: 30px 0;
}

.faixa-contato-1 li:hover {
	font-size:102%;
}

.faixa-contato-1 {
  @include tablet {
    padding: 20px;
  }
}

.faixa-contato-1 ul {
  @include tablet {
    flex-flow: row;
    justify-content: center;
    margin: auto;
  }
}

.faixa-contato-1 li {
  @include tablet {
    color: black;
    margin: auto 40px;
  }
}

.faixa-contato-1 p {
  @include tablet {
    display: inline;
    margin-left: 6px;
  }
}
