footer {
  background-color: $cor-footer;
  padding-top: 5px;
  display: flex;
  flex-flow: column;
  text-align: center;
  min-height: 10vh;
  padding-bottom: 30px;

  p,
  a {
    color: #FFF;
    font-size: 16px;
  }

}


.item-footer {
  padding: 0px 30px;
  padding-bottom: 12px;
  font-size: 18px;
}

footer {
  @include tablet {
    min-height: 0;
    height: 70px;
    padding-top: 1px;
    padding-bottom: 30px;
    flex-flow: row;
    justify-content: center;
    padding-bottom: 0vh;
  }
}

.item-footer {
  @include tablet {
    padding: 10px 30px;
    padding-top: 1px;
  }
}


footer {
  @include desktop {
    height: 60px;
    padding-top: 5px;
  }
}
