.section-formacao {
  height: 350px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 40px;
}

.section-formacao {
  @include tablet {
    font-size: 18px;
  }
}
.section-formacao h2 {
  @include tablet {
    font-size: 38px;
  }
}

.section-formacao p {
  @include tablet {
    font-size: 24px;
  }
}
