* {
  box-sizing: border-box;
}

body,
h2 {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif, serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}


p {
  color: black;
  font-size: 21px;
}

img {
  max-width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 28px;
}

/* Sections Default */

header,
section,
footer {
  padding-top: 50px;
  color: #fff;
  overflow: hidden;
  min-height: 100vh;
}

.sectionimpar {
  background-color: #727273;
}

.sectionpar {
  background-color: #908D90;
}

@media (min-width: 768px){
  header,
  section,
  footer {
    padding-top:50px;
    height:640px;
    color: #fff;
    overflow: hidden;
  }

  .faixa-contato-1,
  .faixa-contato-2 {
    min-height: 50vh;
  }

  @media (min-width: 768px){
    .faixa-contato-1,
    .faixa-contato-2 {
      min-height: 0vh;
      height: 90px;
    }
  }

}
