header {
  background-image: url("https://source.unsplash.com/category/technology");
  background-color: $gray;
  background-size: cover;
  background-position: center;
  z-index: 2;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-attachment: fixed;

  &:after {
    z-index: -1;
    content: '';
    background-color: $black-strong;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  p {
    color: $white;
    font-size: 22px;
    text-align: center;
  }

  .img-div {
    display: flex;
    justify-content: center;
  }

  .imagem {
    max-width: 80%;
    height: 260px;
    margin-top: 30px;
    border-radius: 100%;
  }

  .sobre {
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    font-size: 21px;
    color: $black;
  }

}


.imagem {
  @include tablet {
    max-width: 65%;
    height: 500px;
    margin-top: 30px;
    border-radius: 100%;
  }
}


header p {
  @include tablet {
    color: $white;
    font-size: 28px;
  }
}



.imagem {
  @include desktop {
    border-radius: 100%;
    max-width: 50%;
    height: 300px;
    margin-top: 30px;
  }
}


header p {
  @include desktop {
    color: $white;
    font-size: 24px;
  }
}
