.section-imagens {
  padding-top: 10px;
}

.fotos {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.item-fotos {
  height: 240px;
  margin: 0 auto;
  margin-bottom: 10px;
}

@media (min-width: 768px){
  .section-imagens{
    min-height: 180vh;
  }
  .item-fotos {
    height: 440px;
    margin: 5px;
    margin-top: 9px;
  }
}

@media (min-width: 1024px){
  .section-imagens{
    min-height: 100vh;
  }

  .fotos {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  .item-fotos {
    max-height: 330px;
    margin: auto;
  }

}

@media (min-width: 1025px) {
  .section-imagens{
    min-height: 100vh;
  }

  .fotos {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 5px;
  }

  .item-fotos {
    max-height: 305px;
    margin: 2px 5px;
  }
}

@media (min-width: 1920px){
  .section-imagens {
    padding-top: 150px;
  }
}
