nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

nav li a {
  display: block;
  color: white;
  margin: auto;
  padding: 18px 7px;
}


nav li a:hover {
  background-color: #a6a6a6;
  text-decoration: none;
  color: white;
}

nav li a {
  @include tablet {
    padding: 22px 16px;
  }
}

nav ul {
  @include tablet {
    top: 0;
    bottom: auto;
  }
}
