.section-skills {
    min-height: 100vh;
    background-color: $cor-secundaria;
}

.skills{
  display: flex;
  text-align: center;
  flex-flow: column-reverse;
}

.itemskills {
  height: 120px;
  display: flex;
  margin: 24px auto;

}

.skills {
  @include landscape {
    flex-flow: row;
  }
}

.section-skills {
  @include tablet {
    min-height: 100vh;
  }
}

.section-skills h2 {
  @include tablet {
    font-size: 38px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

.skills {
  @include tablet {
    flex-flow: row;
    justify-content: center;
  }
}

.itemskills {
  @include tablet {
    height: 160px;
    display: flex;
    margin: 54px 20px;
  }
}

.section-skills {
    @include desktop {
      min-height: 200vh;
    }
  }

.container-skills{
  @include desktop {
    display: flex;
    justify-content: center;
  }
}

.section-skills {
  @include desktop {
    min-height: 100vh;
  }
}

.section-skills h2 {
  @include desktop {
    font-size: 38px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.skills {
  @include desktop {
    flex-flow: column;
    justify-content: center;
  }
}

.itemskills {
  @include desktop {
    max-height: 120px;
    display: flex;
    margin: 54px auto;
  }
}


@media (min-width: 1800px){
  .section-skills h2{
    padding-top: 18vh;
  }
}
