nav {
  transition: top 0.2s ease-in-out;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;

  ul {
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: $black;
    padding: 0;
    margin: 0;
  }

  li {

    a {
      display: block;
      color: $white;
      margin: auto;
      padding: 12px 4px;

      &:hover {
        background-color: $silver-chalice;
        text-decoration: none;
        color: $white;
      }
    }
  }
}

.nav-up {
  top: -80px;
}


nav li a {
  @include tablet {
    padding: 22px 16px;
  }
}

nav {
  @include tablet {
    top: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 80px;
  }
}

nav ul {
  @include tablet {
    top: 0;
    padding: 0;
    margin: 0;
  }
}
