$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-large-width: 1025px;


@mixin landscape {
    @media screen and (orientation: landscape) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin desktop-large {
  @media (min-width: #{desktop-large-width}) {
    @content;
  }
}
