$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-large-width: 1025px;

$primary-font: 'Montserrat', Verdana;
$secondary-font: 'Roboto', sans-serif;

$black: #000;
$white: #fff;
$dark-gray: #454545;
$oslo-gray: #95989a;
$shaft-gray: #2e2e2e;

$primary-color: $oslo-gray;
$primary-color-dark: $dark-gray;
$secondary-color: $shaft-gray;
