$dove-gray: #646464;
$gray: #7f7f7f;
$silver-chalice: #9d9d9d;
$silver-weak: rgba(194, 194, 194, .2);
$silver-strong: rgba(194, 194, 194, .4);
$black-strong: rgba(0,0,0, .6);
$black-weak: rgba(0,0,0, .3);
$black: #000;
$white: #fff;
