$cor-primaria: #646464;
$cor-secundaria: #7F7F7F;
$cor-auxiliar: #9D9D9D;
$cor-botao-out: rgba(194, 194, 194, 0.2);
$cor-botao-in: rgba(194, 194, 194, 0.4);
$cor-form: rgba(0, 0, 0, 0.3);
$cor-nav: #000;
$cor-footer: #000;
